.skills{
  padding-top: 60px;
  padding-bottom: 60px;

}
.skills__content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.skills__title{
  font-family: $robotoBold;
  font-size: 46px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
}
.skills__desc{
  padding-bottom: 30px;
 font-family: $robotoRegular;
 margin: 0 auto;
}
.skills__text {
  font-family: $robotoRegular;
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  text-align: center;
  color: $white;
  margin-bottom: 6px;
}
.skills__text-span{
  font-family: $robotoBold;
  color: $button;
  font-size: 26px;
  font-weight: 700;
}

@media screen and (max-width: 368px) {

  .skills {
    padding: 20px 0;
  }
  .skills__title{
    font-size: 38px;
    margin-bottom: 0;
    padding: 0;
    line-height: 50px;
  }
  
}