body {
	line-height: 1;
  font-family: $roboto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  position: relative;
  z-index: auto;
  color: $title;
  background-color: $white;
}
.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.none {
  display: none;
}
